#topSlider {
    margin: 0 !important;
    padding: 0 !important;
    position: relative;
    overflow: hidden;
    .carousel {
      margin-top: 15px;
    }
      .logo-slider {
        position: absolute;
        top: 30px;
        left: 30px;
        width: 100%;
        max-width: 600px;
        height: auto;
        z-index: 100;
      }
      .text-right-slider {
        position: absolute;
        top: 0;
        bottom: 0;
        align-items: center;
        right: 0;
        justify-content: center;
        width: 100%;
        display: flex !important;
        max-width: 380px;
        height: auto; 
        z-index: 50;
        text-align: center;
      }
      .tva-slider {
        position: absolute;
        bottom: 25px;
        left: 30px;
        width: 100%;
        max-width: 100px;
        height: auto;
        z-index: 100;
      }
      .text-bottom-slider {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        max-width: 940px;
        height: 80px;
        z-index: 10;
        background-color: rgba(255, 255, 255, 0.9);
        padding: 18px 0 0 0;
        font-weight: 700;
        font-size: 16px;
        .orange-icon {
          background-image: url(/img/picto-orange.png);
          background-repeat: no-repeat;
          background-position: 0 5px;
          padding-left: 20px;
          padding-right: 60px;
          line-height: 23px;
          span {
            display: block;
          }
        }
      }
    .carousel-item {
      height: 93vh;
      min-height: 300px;
      background: no-repeat center center scroll;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    .carousel-caption {
      bottom: 50px;
    }    
    .carousel-fade {
      .carousel-inner {
        .item {
          transition-property: opacity;
        }
        .item, .active.left, .active.right {
          opacity: 0;
        }
        .active, .next.left, .prev.right {
          opacity: 1;
        }
        .next, .prev, .active.left, .active.right {
          left: 0;
          transform: translate3d(0, 0, 0);
        }
      }
      .carousel-control {
        z-index: 2;
      }
    }
    .carousel-indicators .active {
        background-color: $dark-grey;
    }
    .carousel-indicators li {
        background-color: $white;
    }
    .carousel-control-prev, .carousel-control-next {
      top: 65% !important;
      bottom: inherit !important;
      z-index: 100;
    }
    a {
        text-decoration: none !important;
    }
} 

#cta {
  a {
    text-decoration: none !important;
  }
  .cta {
    background-color: $dark-grey;
    /*background-image: url(/img/arrow-bottom-whyte.png);
    background-repeat: no-repeat;
    background-position: 135px 10px;*/
    padding: 1rem;
    max-width: 172px;
    max-height: 60px;
    margin-top: -30px;
    margin-bottom: 30px;
    color: $white;
    text-decoration: none !important;
    font-weight: 600;
    position: relative;
    z-index: 200;
    float: right;
    
    /*&:hover {
      background-image: url(/img/arrow-bottom-whyte.png);
      background-repeat: no-repeat;
      background-position: 135px 30px;
    }*/
    
    img {
      margin-left: 20px;
    }
  }  
}

#presentation {
  background-image: url(/img/bg-a.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 2% top;
  .bg-right {
    background-image: url(/img/bg-right.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right top;
  }
  .title {
    font-size: 80px !important;
    line-height: 80px !important;
    padding-top: 40px;
    font-weight: 100;
    text-transform: uppercase;
    span {
      font-weight: 600;
    }
  }
  .sub-title {
    font-size: 24px !important;
    font-weight: 700;
    text-transform: uppercase;
  }
  .block {
    padding: 90px 55px 0 55px;
    text-align: justify;
  }
}

#appartements, #residence, #quartier {
  ul.custom-list {
    padding: 0 80px;
  }
  .title {
    background-repeat: no-repeat;
    background-position: left top;
    padding-top: 13px;
    min-height: 120px;
    padding-left: 80px;
    line-height: 28px;
    font-size: 28px !important;
    font-weight: 200;
    margin-bottom: 60px;
    span {
      font-weight: 700;
      display: block;
    }
  }
  .img-round {
      position: absolute;
      top: -70px;
      left: -30px;
    }
  
}

#appartements {
  .title {
    background-image: url(/img/les-appartements.png);
    min-height: 130px;
    padding-left: 90px;
  }
  #slider-appartements {
    position: relative;
    top: 0;
    right: 0;
    z-index: 10;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
    .carousel-item {
      min-height: 580px;
      background: no-repeat center center scroll;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
  }
}

#residence {
  .title {
    background-image: url(/img/la-residence.png);
  }
  #slider-residence {
    position: relative;
    top: 0;
    right: 0;
    z-index: 10;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
    .carousel-item {
      min-height: 580px;
      background: no-repeat center center scroll;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
  }
}

#quartier {
  .title {
    background-image: url(/img/le-quartier.png);
  }
  #slider-quartier {
    position: relative;
    top: 0;
    right: 0;
    z-index: 10;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
    .carousel-item {
      min-height: 580px;
      background: no-repeat center center scroll;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
  }
}

#transport {
  .title {
    font-size: 32px !important;
    font-weight: 100;
    text-transform: uppercase;
    span {
      font-weight: 600;
    }
  }
  .sub-title {
    font-size: 12px !important;
    font-weight: 200;
    text-transform: uppercase;
  }
  img {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}

#slider-transport {
  background-image: url(/img/slider-map-left.png), url(/img/slider-map-right.png);
  background-repeat: no-repeat, no-repeat;
  background-position: center left, center right;
  #slider-map {
    position: relative;
    top: 0;
    right: 0;
    z-index: 10;
    max-width: 1030px;
    margin: 0 auto !important;
    padding: 0 !important;
    overflow: hidden;
    .carousel-inner {
      background-color: $white;
    }
    .carousel-item {
      min-height: 654px;
      background: no-repeat center center scroll;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    .carousel-control-prev-icon {
      background-image: url(/img/arrow.svg);
    }
    .carousel-control-next-icon {
      background-image: url(/img/arrow.svg);
    }
  }  
}

#adresse {
  position: relative;
  padding: 4rem 0 0 0;
  .img-round {
    position: absolute;
    top: 0;
    left: 0;
  }
  .box-text {
    margin-left: 200px;
    margin-top: 50px;
    padding: 30px 30px 30px 120px;
    height: 200px;
  }
  .icon-map {
    margin-right: 20px;
  }
  .title {
    font-size: 28px !important;
    font-weight: 200;
    margin-bottom: 20px;
    span {
      font-weight: 700;
      display: block;
    }
  }
}

#prix {
  .title {
    font-size: 32px !important;
    font-weight: 100;
    text-transform: uppercase;
    span {
      font-weight: 600;
    }
  }
  .sub-title {
    font-size: 12px !important;
    font-weight: 200;
    text-transform: uppercase;
  }
  .infos-offre {
    max-width: 340px;
    max-height: 180px;
    padding: 20px 10px;
    margin-top: 60px;
    position: inherit !important;
    left: 0 !important;
    bottom: 0 !important;
    supp {
      font-size: 11px !important;
      top: -15px !important;
    }
    .n1, .n2, .n3 {
      text-transform: uppercase;
    }
    .n1 {
      font-size: 18px;
      font-weight: 400;
      
    }
    .n2 {
      font-size: 26px;
      font-weight: 700;
    }
    .n3 {
      font-size: 18px;
      font-weight: 600;
    }
    .n4 {
      font-size: 14px;
      font-weight: 400;
    }
  }
}

#conditions {
  .title {
    font-size: 32px !important;
    font-weight: 200;
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 60px;
    span {
      font-weight: 600;
      display: block;
    }
  }
  img {
    margin-top: 40px;
  }
  p {
    font-size: 16px;
    .little {
      text-transform: uppercase;
      color: light-grey;
      font-size: 10px;
    }
    &.border-spe {
      border-top: 5px solid !important;
      padding-top: 50px !important;
    }
  } 
}
