#top {
    background-image: url(/img/img-top.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1440px;
    background-position: center 50%;
    margin: 0 auto;
    .contain {
        min-height: 300px;
        height: 78vh;
         h2 {
            font-size: 2rem !important;
            line-height: 2rem !important;
            margin-top: 10%;
            color: $white;
            text-transform: uppercase;
            font-weight: 700;
            text-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);
         }
         .quote {
             position: absolute;
             bottom: 0;
             right: 0;
             font-weight: 300;
             background-color: rgba(255, 255, 255, 0.9);
             padding: 2rem 2rem;
             text-align: justify;
           -webkit-border-radius: 40px 0 0 0;
            border-radius: 40px 0 0 0;
             img {
                position: absolute;
                top: -35px;
                left: 25px;
             }
         }
    }
}
#contain {
    #col-left {
    position: -webkit-sticky;
    position: sticky;
    top: 0 !important;
    //top: 84px !important;
        .cta-top {
            text-transform: uppercase;
            width: 100%;
            text-align: center;
            margin: -84px;
            font-size: 1.5rem;
            font-weight: 600;
            padding: 1.5rem 0;
         }
        .block {
        padding: 40px 40px;
            h3 {
                font-size: 1.5rem !important;
                line-height: 1.5rem !important;
                text-transform: uppercase;
                color: $dark-grey;
                font-weight: 700;
                border-bottom: 5px solid $white;
                margin-bottom: 1.25rem;
                padding-bottom: 1.25rem;
                span {
                    display: block;
                    color: $orange;
                }
            }
            .nmb-appartments {
                color: $orange;
                font-weight: 700;
                font-size: 7.5rem;
                line-height: 6.5rem;
            }
            .logo-grenelle {
                max-width: 85px;
            }
            .appartments {
                color: $black;
                font-weight: 700;
                font-size: 2rem;
                line-height: 3rem;
                text-transform: uppercase;
            }
            .parts-appartments {
                text-transform: uppercase;
                color: $black;
                font-weight: 700;
                font-size: 1.5rem;
                line-height: 0rem;
                margin-bottom: 1rem;
                span {
                    color: $orange;
                }
            }
            .detail-appartments {
                font-size: 1.2rem;
                font-weight: 300;
                color: $dark-grey;
                margin: 2rem 0;
            }
            .price {
              background-color: $orange;
              padding: 1rem;
              color: $white;
              margin: 1rem 0;
              font-size: 1.2rem;
              font-weight: 300;
              b {
                font-size: 1.4rem;
                font-weight: 700; 
              }
            }
            .infos {
                font-size:0.75rem;
                font-weight: 300;
                color: $dark-grey;
            }
        }
    }
    #section-right {
      position: relative;
      margin-left: 50px;   
      z-index: 200;
      padding-bottom: 100px;
          
          .bg-img1 {
              background-image: url(/img/img-1a.jpg);
              background-repeat: no-repeat;
              background-position: top right;
              background-size: cover;
              border-right: 20px solid white;
              height: 100%;
              max-height: 530px;
          }
          .bg-img2 {
              background-image: url(/img/img-1b.jpg);
              background-repeat: no-repeat;
              background-position: top center;
              background-size: cover;
              height: 100%;
              max-height: 530px;
          }
          
          .about-group {
              margin: 60px 50px 0 10px;
              h3 {
                font-size: 1.5rem;
                text-transform: uppercase;
                color: $dark-grey;
                font-weight: 700;
                border-bottom: 5px solid $light;
                margin-bottom: 1.25rem;
                padding-bottom: 1.25rem;
                color: $black;
                img {
                    height: 40px;
                    float: right;
                    position: relative;
                    bottom: 5px;
                }
              }
              p {
                  font-size: 1.25rem;
                  font-weight: 300;
              }
          }
          .mentions-legales {
            margin: 0 50px 0 0;
              .phone {
                  margin-top: 60px;
                  margin-bottom: 20px;
                      img {
                          float: left;
                          margin-right: 10px;
                          position: relative;
                          bottom: 5px;
                      }
                      h4 {
                          font-size: 1.5rem;
                          font-weight: 700;
                          line-height: 1rem;
                      }
                      a {
                          font-size: 0.875rem;
                          font-weight: 300;
                          text-transform: uppercase;
                      }    
              }
              p {
                  font-size: 0.75rem;
                  font-weight: 300;
              }
      }
    }
    #section-left {
        position: relative;
        margin-top: -180px;
        padding: 180px 40px 60px 40px;
            &.bg-orange {
            margin-bottom: 90px;
                .title, .sub-title {
                  color: $white;
                }
                .title {
                    padding-left: 40px;
                }
      }
    }
}

