.programm-container {
    background-color: $light-grey;
    height: auto;
    padding: 15px;
    
    .program-header {
        padding-bottom: 15px;
    }
    .slogan {
        color: $color-primary;
        font-size: 20px;
        text-transform: uppercase;
    }
    .infos {
        background-color: $color-primary;
        background-image: url(/img/picto-pinel-A-white.png);
        background-repeat: no-repeat;
        background-position: 95% 50%;
        color: #fff;
        padding: 15px;
         
    }
    .stock {
        background-color: $light-grey;
        #collapse-last {}

        .lot {
            height: 60px;
            border-bottom: 1px solid $darken-grey;
            
            .typo {
                color: $color-primary;
            }
        }
        .opacity {
            opacity: 0.3;
        }
        
        
        
    }
    .actions {
        padding: 15px 0;
        a { color: $color-primary;}
        
        .brochure {
            margin-right: 25px;
        }
    }
    .btn-link {
      color: $dark-grey;
      text-align: left;
      width: 100%;
      
      background-repeat: no-repeat;
      background-position: 100% 50%;
      
        &[aria-expanded=true] {
          background-image: url(/img/arrow-more.png);
          background-repeat: no-repeat;
          background-size: 20px;
          &::before {
            content: 'Afficher moins';
          }
        }
        &[aria-expanded=false] {
          background-image: url(/img/arrow-less.png);
          background-repeat: no-repeat;
          background-size: 20px;
          &::before {
            content: 'Afficher plus';
          }
        }
      }
   
}
