@media (max-width: 1200px) {
    
}  
@media (max-width: 992px) {
    #sticker {
        display: block;
        height: inherit;
        overflow-x: inherit !important;
        overflow-y: inherit !important;
    }
}    
@media (max-width: 768px) {
}
@media (max-width: 576px) {
    footer {
        .cgu { 
            a {
                font-size: 0.8rem;
            }
        }
    }
}
@media (max-width: 375px) {
    .link_sticky {
        padding: 0 22%;
    }
}
@media (max-width: 320px) {
    .link_sticky {
        padding: 0 20%;
    }
}