.card {
    background-color: transparent;
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, 0);
    border-radius: 0;
}
.card-header {
    cursor: pointer;
    padding: 0;
    border-bottom: 0 solid rgba(0, 0, 0, 0);
    background-color: $dark-grey;
    color: $white;
    text-transform: uppercase;
    border-radius: 5px !important;
    margin-bottom: 5px;
    color: $white;
    height: 64px;
    line-height: 61px;
    position: relative;
    .t1 {
      float: left;
      width: 20%;
      padding-left: 2%;
    }
    .t2 {
      float: left;
      text-align: right; 
      padding-right: 2%;
      width: 45%; 
    }
    .t3 {
      float: left;
      background-image: url(/img/table-red-bg.png);
      width: 35%;
      background-position: -1px 0px;
      background-repeat: no-repeat;
      -webkit-border-radius: 0 5px 5px 0;
      border-radius: 0 5px 5px 0;
      padding-right: 50px;
      text-align: right;
    }
    .t4 {
      float: left;
      width: 80%;
      padding-right: 50px;
      text-align: right;
    }
    .t5 {
      display: none;
    }
    .toggler[aria-expanded=true] .more-less {
      background-image: url(/img/accordion-less.png);
    }
    .toggler[aria-expanded=false] .more-less {
      background-image: url(/img/accordion-more.png);
    }
    .more-less {
      background-repeat: no-repeat;
      background-position: 0 0;
      height: 30px;
      width: 30px;
      position: absolute;
      right: 10px;
      top: 20px;
    }
    strong {
      font-size: 1.5rem;
    }
    small {
        font-size: 0.8rem;
        text-transform: lowercase;
    }
    img.tva {
      height: 40px;
      width: auto;    
      margin-left: 15px;
      margin-top: -5px;
    }
}
.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0;
}

