/*FONTS*/

/*light*/
.f-light {
  font-family: FuturaStd-Light;
}
/*regular*/
.f-book {
  font-family: FuturaStd-Book;
}
/*semi-bold*/
.f-heavy {
  font-family: FuturaStd-Heavy;
}
/*bold*/
.f-bold {
  font-family: FuturaStd-Bold;
}

/*SIZE*/
.fs-14 {
  font-size: 0.875rem !important;
}
.fs-16 {
  font-size: 1rem !important;
}
.fs-18 {
  font-size: 1.125rem !important;
}
.fs-20 {
  font-size: 1.25rem !important;
}
.fs-24 {
  font-size: 1.5rem !important;
}

/*PADDING*/
  .nopadding {
    padding-left: 0;
    padding-right: 0;
  }
  .nopadding-left {
    padding-left: 0;
  }
  .nopadding-right {
    padding-right: 0;
  }
  .p20 {
    padding: 20px;
  }
  .p40 {
    padding: 40px;
  }
  .pt20 {
    padding-top: 20px;
  }
  .pb20 {
    padding-bottom: 20px;
  }
  .plr20 {
    padding: 0 20px;
  }
  .ptb20{
    padding: 20px 0;
  }
  
/*MARGIN*/
  .nomargin {
    margin: 0;
  }
  .m20 {
    margin: 20px;
  }
  .mt20 {
    margin-top: 20px;
  }
  .mb20 {
    margin-bottom: 20px;
  }
  .mlr20 {
    margin: 0 20px;
  }
  .mtb20{
    margin: 20px 0;
  }
  
/* LINK */
  a.nodeco {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
  
/* BORDER - BORDER RADIUS*/
  .br {
    -webkit-border-radius: 40px;
    border-radius: 40px;
  }
  .border-primary-green {
    border: 1.25rem solid $light-color-primary;
  } 
  
/*EFFECT  */
  .transition {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .shadow {
    -webkit-box-shadow: 0 0 20px 1px rgba(0,0,0,0.5);
  box-shadow: 0 0 20px 1px rgba(0,0,0,0.5);
  }
  .opacity-hover {
    opacity: 1;
      &:hover {
        opacity: 0.7;
      }
  }
  .anim-opacity {
    animation-name: anim;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }
  
/* Safari 4.0 - 8.0 */
@-webkit-keyframes anim {
    0%   {opacity: 1;}
    25%  {opacity: 0.5;}
    50%  {opacity: 1;}
    75%  {opacity: 0.5;}
    100% {opacity: 1;}
}

/* Standard syntax */
@keyframes anim {
    0%   {opacity: 1;}
    25%  {opacity: 0.5;}
    50%  {opacity: 1;}
    75%  {opacity: 0.5;}
    100% {opacity: 1;}
}

.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $dark-grey;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: $white;
}
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.scroll-indicator {	
	position: absolute;
	right: 10%;
	-webkit-animation: bounce 1s infinite; 
	animation: bounce 1s infinite;
}

@-webkit-keyframes bounce {
	 0% { top: 15%; }
	 100% { top: 60%; }
}
@keyframes bounce {
	 0% { top: 15%; }
	 100% { top: 60%; }
}
