// Body
$body-bg: $white;

// Color
$white: #ffffff !important;
$black: #000000 !important;

$dark-grey: #333333 !important;
$grey: #cccccc !important;
$light-grey: #efefef !important;

$color-primary: #FF9281 !important; 
$color-secondary: #E8DA6A !important;

// Background
.bg-primary {
  background-color: $color-primary;
}
.bg-secondary {
  background-color: $color-secondary;
}
.bg-grey {
  background-color: $grey;
}
.bg-white { 
  background-color: $white;
}

/* Texte */
.text-primary {
    color: $color-primary;
}
.text-secondary {
    color: $color-secondary;
}
.text-dark {
    color: $black;
}
.text-light {
    color: $white;
}

// Typography
$font-primary: 'Nunito Sans', sans-serif;
$font-secondary : $font-primary;

$font-size-base: 1rem;
$line-height-base: 1.5;
